<div class="msg">

  <div class="who">
    <span class="name"><%= User.find_by(id: msg[:who])&.name || 'none' %></span>
    <sub class="date"><%= msg[:date] %></sub>
  </div>

  <div class="text">
    <%= msg[:text] %>
  </div>

</div>
