<div class="msg">

  <div class="who">
    <span class="name">mary</span>
    <sub class="date">12.10.2017</sub>
  </div>

  <div class="text">
    fgsdfgsdf sdfg sdfg sdfg sdfg sdfg s
  </div>

</div>
