<h2>to <%= @whom.name %></h2>

<%= form_with data: {chat_id: Chat.key_pair(current_user, @whom).join('_') } do |f| %>
  <%= f.text_field :text, autofocus: true %>
<% end %>

<div class="log">
  <% Chat.find_for(current_user, @whom)&.log&.each do |msg| %>
    <%= render 'chats/msg', msg: JSON.parse(msg) %>
  <% end %>
</div>
